* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	text-decoration: none;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
del {
	text-decoration: line-through;
}
body {
	font-family: "GT-Eesti", Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #1C2C40;
	overflow-x: hidden;
	min-width: 320px;
	font-weight: 400;
}
input,textarea,select{
	font-family: "GT-Eesti", Arial, Helvetica, sans-serif;
	font-weight: 400;
}

a{
	color: #1C2C40;
}
a:hover,.submit:hover{
	filter: alpha(opacity = 85);
	-moz-opacity: 0.85;
	-khtml-opacity: 0.85;
	opacity: 0.85;
}
.thumb{
	display: block;
}
.thumb img{
	display: block;
	width:100%;
}
p{
	line-height:1.6em;
	font-size: 16px;
	font-family: "GT-Eesti", Arial;
	font-weight: 400;
}
.hidden{
	display:none;
}
br.clear {
	clear: both;
	line-height: 0;
}
.wrapper {
	width: 90%;
	margin: 0 auto;
	max-width:1040px;
}

@font-face {
    font-family: 'GT-Eesti';
    src: url("../fonts/GT-Eesti-Pro-Text-Light.woff2") format("woff2");
    src: url("../fonts/GT-Eesti-Pro-Text-Light.woff") format("woff"), url("../fonts/GT-Eesti-Pro-Text-Light.ttf") format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'GT-Eesti';
    src: url("../fonts/GT-Eesti-Pro-Text-Regular.woff2") format("woff2");
    src: url("../fonts/GT-Eesti-Pro-Text-Regular.woff") format("woff"), url("../fonts/GT-Eesti-Pro-Text-Regular.ttf") format("truetype");
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: 'GT-Eesti';
    src: url("../fonts/GT-Eesti-Pro-Text-Medium.woff2") format("woff2");
    src: url("../fonts/GT-Eesti-Pro-Text-Medium.woff") format("woff"), url("../fonts/GT-Eesti-Pro-Text-Medium.ttf") format("truetype");
    font-weight: 600;
    font-style: normal
}

@font-face {
    font-family: 'GT-Eesti';
    src: url("../fonts/GT-Eesti-Pro-Text-Bold.woff2") format("woff2");
    src: url("../fonts/GT-Eesti-Pro-Text-Bold.woff") format("woff"), url("../fonts/GT-Eesti-Pro-Text-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal
}
::placeholder {
  color: #C0CCDA;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #C0CCDA;
}

::-ms-input-placeholder {
  color: #C0CCDA;
}

:root {
  --main-bg-color: #23D3D3;
  --main-heading-color:#1C2C40;
}
#home{
	position: relative;
	z-index: 1;
}
header{
	height: 80px;
	position: fixed;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	padding: 0 32px;
	align-items: center;
	background-color: #fff;
}
header div.left{
	display: flex;
	flex-wrap: wrap;
}
header div.left h1{
	width: 100px;
	margin-right: 30px;
}
header div.left h1 a{
	display: block;
}
header div.left h1 a img{
	width: 100%;
}
header div.left nav{

}
header div.left nav ul{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
header div.left nav ul li{
	margin-right: 30px;
}
header div.left nav ul li: last-child{
	margin-right: 0;
}
header div.left nav ul li a{
	color: #000;
	font-size: 16px;
	font-weight: bold;
}
header div.right{
	
}
header div.right ul{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
header div.right ul li{
	margin-right: 30px;
}
header div.right ul li a{
	color: #000;
	font-weight: bold;
	font-size: 16px;
}
header div.right ul li a.button{
	color: #ffff;
    font-size: 18px;
    background: #23d3d3;
    display: inline-block;
    padding: 15px 25px;
    border-radius: 30px;
}
#spotlight{
	padding-top: 105px;
	background-image: url("../images/bg.jpg");
	background-repeat: no-repeat;
    background-size: 864px;
    background-position: right -39px bottom -50px;
    height: 560px;
    background-color: #fff;
}
#spotlight section.wrapper{

}
#spotlight section.wrapper section.container{
	width: 60%;
}
#spotlight section.wrapper section.container h2{
	font-size: 45px;
	font-weight: 700px;
}
#spotlight section.wrapper section.container p{
	margin-top: 20px;
	font-size: 16px;
}
#spotlight section.wrapper section.container a.button{
	margin-top: 30px;
	color: #ffff;
    font-size: 18px;
    background: #23d3d3;
    display: inline-block;
    padding: 15px 25px;
    border-radius: 30px;
}
#spotlight section.wrapper section.container div {
	font-size: 14px;
	margin-top: 20px;
	display: flex;
	align-items: center;
}
#spotlight section.wrapper section.container div img{
	margin-left: 15px;
}
#services{
	padding-top: 200px;
	position: relative;
	z-index: 1;
	background-color: #fff;
}
#services section.top{
	
}
#services section.top section.wrapper{
	text-align: center;
}
#services section.top section.wrapper div.arrow{
	margin-bottom: 20px;
}
#services section.top section.wrapper div.arrow img{
	
	border-radius: 50%;
}
#services section.top section.wrapper h5{
	font-weight: 700px;
	margin-bottom: 30px;
}
#services section.top section.wrapper h2{
	font-size: 45px;
}
#services section.content{
	background-image: url("../images/whatis-bg.jpg");
	background-repeat: no-repeat;
    background-size: 626px;
    background-position: right -12px bottom -46px;
    padding-top: 50px;
    margin-bottom: 10%;
}
#services section.content div.service1{
	margin-left: 200px;
	margin-bottom: 120px;
}
#services section.content div.service1 h3{
	padding-top: 10px;
}
#services section.content div.service1 h3 span.label{
	padding: 6px 10px 3px;
	background-color: #23d3d3;
	border-radius: 5px;
	display: inline-block;
	margin-right: 20px;
}
#services section.content div.service1 p{
	margin-top: 15px;
	font-size: 14px;
	color: #4444;
	font-weight: bold;
}
#services section.content div.service1 a.button{
	margin-top: 30px;
    font-size: 18px;
    display: inline-block;
    padding: 2px 15px;
    border-radius: 20px;
    border: 2px solid #4444;
}
#services section.content div.service2{
	margin-left: 200px;
	margin-bottom: 120px;
}
#services section.content div.service2 h3{
	padding-top: 10px;

}
#services section.content div.service2 h3 span.label{
	padding: 6px 10px 3px;
	background-color: #23d3d3;
	border-radius: 5px;
	display: inline-block;
	margin-right: 20px;
}
#services section.content div.service2 p{
	margin-top: 15px;
	font-size: 14px;
	color: #4444;
	font-weight: bold;
}
#services section.content div.service2 a.button{
	margin-top: 30px;
    font-size: 18px;
    display: inline-block;
    padding: 2px 15px;
    border-radius: 20px;
    border: 2px solid #4444;
}
#services section.content div.service3{
	margin-left: 200px;
	margin-bottom: 120px;
}
#services section.content div.service3 h3{
	padding-top: 10px;

}
#services section.content div.service3 h3 span.label{
	padding: 6px 10px 3px;
	background-color: #23d3d3;
	border-radius: 5px;
	display: inline-block;
	margin-right: 20px;
}
#services section.content div.service3 p{
	margin-top: 15px;
	font-size: 14px;
	color: #4444;
	font-weight: bold;
}
#services section.content div.service3 a.button{
	margin-top: 30px;
    font-size: 18px;
    display: inline-block;
    padding: 2px 15px;
    border-radius: 20px;
    border: 2px solid #4444;
}
#services hr.line{
	border-bottom: 1px solid #4444;
	margin: 0 20%;
}
#middle{
	padding-top: 120px;
	padding-left: 20%;
	padding-right: 20%;
	position: relative;
	z-index: 1;
	height: 100vh;
	background-color: #fff;
}
#middle  ul{
	display: flex;
	justify-content: space-between;
}
#middle ul li{
	
}
#middle ul li:nth-child(odd){
	margin-top: 60px;
}
#middle ul li a{
	
}
#middle ul li a img{
	border-radius: 50%;
	box-shadow: 0 4px 10px 1px rgba(0,0,0,0.3);
}
#middle div.content{
	text-align: center;
	padding-top: 10% ;
}
#middle div.content h3{
	font-size: 40px;
	font-weight: bold;
}
#middle div.content p{
	padding-top: 30px;
	margin-bottom: 15%;
}
#middle hr.line{
	border-bottom: 1px solid #4444;
	margin: 0 20%;
}
#testimonial {
	padding: 80px 0 120px;
	background-color: #fff;
	padding-left: 20%;
	padding-right: 20%;
	position: relative;
	z-index: 1;
}
#testimonial div.container{
	margin-bottom: 80px;
}
#testimonial div.container div.content{
	text-align: center;
}
#testimonial div.container div.content p{
	font-size: 20px;
	max-width: 500px;
	margin: 0 auto;
	font-weight: 700;
}
#testimonial div.container div.content div.img-container{
	display: inline-block;
	height: 100px;
	width: 100px;
}
#testimonial div.container div.content div.img-container img{
	border-radius: 50%;
	width: 100%;
	
}
#testimonial div.container div.content h5{
	padding-top: 10px;
	margin-bottom: 10px;
}
#testimonial div.container div.content span.detail{
	
}
#testimonial hr.line{
	padding-top: 10%;
	border-bottom: 1px solid #4444;
	margin: 0 20%;
}
#members{
	padding-bottom: 100px;
	background-color: #fff;
	position: relative;
	z-index: 1;
}
#members div.content{
	text-align: center;
}
#members div.content div.img-container{
	width: 250px;
	height: 250px;
	display: inline-block;
}
#members div.content div.img-container img{
	width: 100%;
}
#members div.content p{
	font-size: 14px;
	margin-bottom: 20px;
}
#members div.content a.button{
	color: #ffff;
    font-size: 18px;
    background: #23d3d3;
    display: inline-block;
    padding: 12px 17px;
    border-radius: 10px;
}
#faq{
	padding: 120px 0;
	background-color: #ecf9ff;
	position: relative;
	z-index: 1;
}
#faq section.faqtop{
	margin-bottom: 40px;
}
#faq section.faqtop h3{
	font-weight: 700px;
	font-size: 28px;
	max-width: 300px;
}
#faq section.faq-content{

}
#faq section.faq-content div.content-head{
	
}
#faq section.faq-content div.content-head ul{
	display: flex;
	justify-content: space-between;
}
#faq section.faq-content div.content-head ul li{
	width: 33.33%;
}
#faq section.faq-content div.content-head ul li a{
	color: #8492A6;
	font-size: 20px;
	font-weight: 600px;
	padding: 20px 60px 20px 40px;
	border-bottom: 1px solid #4444;
	display: inline-block;
	width: 100%;
}
#faq section.faq-content div.content-head ul li a.active, #faq section.faq-content div.content-head ul li a: hover{
	border-color: #23d3d3;
	color: #23d3d3;
}
#faq section.faq-content div.content-body{
	
}
#faq section.faq-content div.content-body ul{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
#faq section.faq-content div.content-body ul li{
	width: 32%;
	border-bottom: 1px solid rgba(28,44,64,.1);
	padding: 60px 30px 30px;
}
#faq section.faq-content div.content-body ul li h4{
	font-size: 24px;
	font-weight: 700px;
	margin-bottom: 20px;
}
#faq section.faq-content div.content-body ul li p{
	font-size: 18px;
	color: #5a6679;
}
#faq section.faq-bottom{
	padding-top: 10%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid rgba(28,44,64,.1);
}
#faq section.faq-bottom div.img-container{
	width: 33%;
}
#faq section.faq-bottom div.img-container img{
	
}
#faq section.faq-bottom div.more{
	width: 67%;
	display: flex;
	justify-content: space-between;
}
#faq section.faq-bottom div.more div.item{

}
#faq section.faq-bottom div.more div.item img{
	display: block;
	margin-bottom: 20px;
}
#faq section.faq-bottom div.more div.item p{
	font-size: 17px;
	margin-bottom: 5px;
}
#faq section.faq-bottom div.more div.item a{
	color: #23d3d3;
	font-size: 18px;
}
#press{
	padding: 120px 0;
	background-color: #ecf9ff;
	position: relative;
	z-index: 1;
}
#press section.wrapper{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#press div.left-side{
	margin-right: 30px;
}
#press div.left-side h3{
	font-size: 28px;
	font-weight: 700;
	white-space: nowrap;
}
#press div.right-side{

}
#press div.right-side ul{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
#press div.right-side ul li{
	width: 33.33%;
	padding: 30px 20px;
	display: flex;
	align-items: center;
}
#press div.right-side ul li img{
	border-radius: 50%;
	margin-right: 20px;
}
#press div.right-side ul li span{
	font-size: 18px;
}
#promo{
	background: #23d3d3;
	padding: 120px 0;
	position: relative;
	z-index: 1;
}
#promo section.top{
	text-align: center;
}
#promo section.top h2{
	font-size: 35px;
	font-weight: 700;
	padding-bottom: 20px;
}
#promo section.top a.button{
	color: #23d3d3;
    font-size: 18px;
    background: #ffff;
    display: inline-block;
    padding: 15px 25px;
    border-radius: 10px;
}
#promo section.bottom{
	margin-top: 60px;
}
#promo section.bottom ul{
	display: flex;
	justify-content: center;
}
#promo section.bottom ul li{
	width: 22%;
	display: flex;
	align-items: center;
	margin-right: 40px;
}
#promo section.bottom ul li img{
	padding-right: 10px;
}
#promo section.bottom ul li small{
	
}
#footer{
	padding: 120px 0;
	background-color: #252e43;
	position: relative;
	z-index: 1;
}
#footer section.top{
	display: flex;
	justify-content: space-between;
}
#footer section.top div.item-large{
	width: 32%;
}
#footer section.top div.item-large:last-child{
	width: 28%;
}
#footer section.top div.item-large h1{
	width: 105px;
	margin-bottom: 40px;
}
#footer section.top div.item-large h1 a{
	width: 100%;
	display: block;
}
#footer section.top div.item-large h1 a img{
	width: 100%;
	display: block;
}
#footer section.top div.item-large p{
	margin-bottom: 20px;
	color: #c0ccda;
}
#footer section.top div.item{
	width: 20%;
}
#footer section.top div.item h3{
	font-size: 24px;
	color: #fff;
	margin-bottom: 20px;
}
#footer section.top div.item ul{

}
#footer section.top div.item ul li{
	
}
#footer section.top div.item ul li a{
	padding: 6px 0;
	display: inline-block;
	font-size: 16px;
	color: #c0ccda;
}
#footer section.top div.item p{
	font-size: 16px;
	color: #c0ccda;
}
#footer section.top div.item form{
	position: relative;
}
#footer section.top div.item form input{
	width: 100%;
	padding-left: 15px;
	padding-right: 45px;
	height: 50px;
	font-size: 16px;
	display: block;
	background-color: #3c4858;
	border-radius: 8px;
	border: none;
	outline: 0;
}
#footer section.top div.item form button{
	position: absolute;
	top: 15px;
	right: 15px;
	cursor: pointer;
}
#footer section.top div.item form button img{
	width: 18px;
	display: inline-block;
	transform: rotate(-90deg);
}
#footer section.bottom{
	margin-top: 120px;
	display: flex;
	justify-content: space-between;
}
#footer section.bottom p.left{
	color: #8492a6;
	font-size: 16px;
}
#footer section.bottom p.left a{
	color: #23d3d3;
}
#footer section.bottom p.left a.hover{
	text-decoration: underline;
	color: #189191;
}
#footer section.bottom div.social{

}
#footer section.bottom div.social ul{
	display: flex;
}
#footer section.bottom div.social ul li{
	margin-right: 15px;
}
#footer section.bottom div.social ul li: last-child{
	margin-right: 0;
}
#footer section.bottom div.social ul li a{
	display: block;
}
#footer section.bottom div.social ul li a img{
	width: 18px;
	display: block;
}
#mask{
	height: 100vh;
	z-index: -2;
	position: relative;
}
#cover{
	height: 100vh;
	background: url("../images/mobile.jpg");
	background-repeat: no-repeat;
	background-size: contain;
	padding: 80px 0;
	position: fixed;
	z-index: 0;
	top: 0;
	left: 0;
	width: 100%;
}
#cover div.content{
	margin-left: 50%;
}
#cover div.content h2{
	font-weight: 700;
	max-width: 400px;
	font-size: 48px;
	line-height: 1.4em;
	margin-bottom: 50px;
}
#cover div.content p{
	margin-bottom: 40px;
	max-width: 440px;
	line-height: 1.8em;
	color: #8a6679;
}
#cover div.content a.button{
	height: 52px;
	width: 160px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 700;
	background: #1c2c40;
	color: #fff;
	border-radius: 8px;
}
#cover div.content a.button img{
	width: 20px;
	margin-right: 15px;
	display: inline-block;
}
@media all and (max-width: 980px){
	header div.left nav ul {
		display: none;
	}
	#spotlight{
		background: #fff;
		height: auto;
	}
	#spotlight section.wrapper {
		width: 100;
	}
	#services section.content {
		background: #fff;
	}
	#services section.content div.service1 {
	    margin-bottom: 80px;
	}
	#services section.content div.service2 {
	    margin-bottom: 80px;
	}
	#services section.content div.service3 {
	    margin-bottom: 80px;
	}
	#middle{
		padding-left: 10%;
		padding-right: 10%;
	}
	#faq section.faq-content div.content-head ul li a {
		font-size: 18px;
	}
	#faq section.faq-content div.content-body ul li {
 	   padding: 40px 15px 15px
 	  }
 	#press div.right-side ul li {
    	width: 50%;
    }
    #promo section.bottom ul{
    	flex-wrap: wrap;
    }
    #promo section.bottom ul li{
    	width: 48%;
    	margin-bottom: 20px;
    } 
    #footer section.top {
    	flex-wrap: wrap;
    	margin-bottom: -30px;
    }
    #footer section.top div.item {
    	width: 40%;
    	margin-bottom: 30px;
    }
    #footer section.top div.item.large {
    	width: 60%;
    }
    #footer section.top div.item-large:last-child{
		width: 60%;
	}
}
@media all and (max-width: 768px){
	#spotlight section.wrapper section.container h2 {
    	font-size: 35px;
    }
    #services section.top section.wrapper h2 {
   		font-size: 35px;
   	}
   	#testimonial {
   		 padding-left: 10%;
 	  	 padding-right: 10%;
	}
	#faq section.faq-content div.content-head ul{
		flex-wrap: wrap;
	}
	#faq section.faq-content div.content-head ul li{
		width: 100%;
	}
	#faq section.faq-content div.content-body ul li {
    	width: 48%;
    }
    #faq section.faq-bottom div.more {
    	flex-wrap: wrap;
    }
    #press div.left-side {
    	width: 100%;
    }
    #press div.right-side {
    	width: 100%;
    }
    #press section.wrapper {
    	flex-wrap: wrap;
    }
    #press div.right-side ul{
    	justify-content: space-between;
    }
    #mask{
    	display: none;
    }
    #cover{
    	display: none;
    }
}
@media all and (max-width: 640px){
	header div.right {
		display: none;
	}
	header{
		justify-content: center;
	}
	#spotlight section.wrapper section.container h2{
    	font-size: 25px;
    }
    #services section.content div.service1 {
    	margin-left: 50px;
    }
    #services section.content div.service2 {
    	margin-left: 50px;
    }
    #services section.content div.service3 {
    	margin-left: 50px;
    }
    #middle ul{
    	flex-wrap: wrap;
    	margin-bottom: -20px;
    }
    #middle ul li:nth-child(odd) {
    	margin-top: 0;
    }
    #middle ul li{
    	width: 50%;
    	margin-bottom: 20px;
    	text-align: center;
    }
    #press div.right-side ul li{
    	width: 100%;
    }
    #footer section.bottom{
    	flex-wrap: wrap;
    }
    #footer section.bottom p.left{
    	width: 100%;
    	margin-bottom: 20px;
    }
}
@media all and (max-width: 360px){
	#faq section.faq-bottom div.img-container {
		display: none;
	}
	#faq section.faq-bottom div.more {
		width: 100%;
	}
	#faq section bottom{
		margin-top: 40px;
	}
	#press{
		padding-bottom: 80px;
	}
	#promo{
		padding: 80px 0;
	}
	#footer section.top div.item {
    	width: 100%;
    }
    #footer section.top div.item.large {
    	width: 100%;
    }
    #footer section.top div.item: last-child{
    	width: 100%;
    }
    #footer section.bottom{
    	margin-bottom: 80px;
    }
    #footer{
    	padding: 80px 0;
    }
    #middle div.content h3 {
    	font-size: 30px;
    }
    #services section.top section.wrapper h2 {
    	font-size: 28px;
	}
}